/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
  /************** General Styles **********/
  html {
    font-size: 16px;
  }
   
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #e2e3ed;
  }
   
  ul {
   
  }
   
  a {  
    color: #e2e3ed;
    text-decoration: none;
  }
   
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25em;
    font-weight: 500;
  }
   
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    font-weight: 500;
  }
   
  h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 500;
  }
  p {
    font-size: .875em;
  }
   
  img {
   width: 100%;
  }
   
  figure {
   margin: 0;
  }
   
  address {
   font-style: normal;
  }

   /*--------- Base Styles Header and Footer -------------*/
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #202322;
}

.content-wrapper {
  width: 90%;
}

/*----------Header---------*/
header {
  padding: 15px 0;
  
}

header .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%
}

header figure {
  height: 42px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


header a {
  text-transform: uppercase;
}

.header-divider {
  width: 100%;
  border-top: 1px solid #3a3a3a;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

header nav ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  width: 88%;
}

header nav ul li {
  padding: 5px 0;
  
}


/*-------------Mobile Styles - Homepage --------------*/
.main-homepage {

}

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/hero.jpg') center no-repeat;
  background-size: cover;
  height: 500px;
}

.hero-area .content-wrapper {
  
}

.hero-area h1 {
  padding: 48px 0 0;
  margin: 0;
  
}



aside {
  display: flex;
  justify-content: center;
  
  flex-flow: row wrap;
  background: #527158;
}

.form-description {

}

aside h5 {
  padding-top: 30px;
  line-height: 1em;
  
}

aside p{
  margin: 0;
}

.form {
  display: flex;
  flex-flow: column wrap;
  margin: 30px 0 50px;
  justify-content: center;
}

.form h2 {
  margin: 9px 0;
}

 input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  background: url('../img/features.jpg') center no-repeat;
  background-size: cover;
}

.features .content-wrapper {
 
}

.features p {
  margin: 0;
  line-height: 1.129em;
}

.features i {
	font-size: 3.75em;
  margin-bottom: 40px;
}

.features h2 {
  margin: 0;
  padding: 38px 18px 78px 0;
  
}

.features-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.features-items article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  padding-bottom: 40px;
}

.features-items .font-awesome-icon {

}
.features-items .features-item-description {
  text-align: center;
}

.reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: #2a423a;
}

.reviews .content-wrapper {

}

.reviews h2 {
  line-height: 1em;
}

.reviews h5{
  margin: 0;
  padding-top: 20px;
  width: 81%;
}

.reviews article {

}

.reviews figure {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.retreat-info {

}

.retreat-info h5 {

}

.retreat-info p {
  line-height: 1.129em;
  margin-bottom: 45px;
}

/*---------Mobile Styles - About ---------*/
.main-about {
 justify-content: center;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #527158;
}

.mission .content-wrapper {
  
}

.mission-content {
  margin: 50px 0;
}

.mission-content h2 {

}

.mission-content p {
  margin-top: 20px;
  line-height: 1.129em;
}

.map {
  width: 100%;
}

.map figure {
  width: 100%;
  height: 0; 
  padding-bottom: 125%; 
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #2a423a;
}

.contact-section .content-wrapper {
  margin: 50px 0;
}
.contact-section h2, .contact-section h5 {
  margin: 18px 0 0;
}


.contact-about {

}

.contact-about h5 {

}

.contact-about address {

}

.contact-about p {

}

/*---------- Mobile Styles - FAQ ----------*/
.faq {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: #527158;

}

.faq .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.faq h2 {
  width: 100%;
  margin: 50px 0;
  line-height: 1em;
}

.faq-content {
  margin: 0 0 50px;
}

.faq-content h5 {
  line-height: 1.33em;
}

.faq-content p {
  line-height: 1.129em;
}

/*---------Footer-----------------------------------------*/
footer {
  height: auto;
}

footer .content-wrapper {
  width: 61.72%;
  margin: 40px 0;
}

.footer-content {
  text-align: center;
}

.footer-content .contact {

}

footer h5 {
  margin: 0 0 20px;
  width: 100%;
}

footer p {
  margin: 0;
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-icons p {
  font-size: 1.125em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: #527158;
}


.social-icons i {
  color: #e2e3ed;
  margin: 0;
  padding-top: 11px;
}

.copyright {
  padding: 0 2em;
  text-align: center;
  width: 100%;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
    /*Tablet styles here************************************************************************************************************/

    header {
      justify-content: center;
      padding: 0;
      height: 100px;
    
    }

    header .content-wrapper {
      justify-content: space-between;      
      width: 83.33%;
    }

    header figure {
      width: 28.78%;
    }

    nav ul li {
      font-size: 1em;
    }

    .header-divider {
      width: 0;
    }

    
    header nav {
      
      justify-content: flex-end;
    }

    header nav ul {
      justify-content: flex-end;
    }

    header nav ul li {
      padding-left: 40px;
    }

    .hero-area {
      height: 600px;
    }

    .hero-area h1 {
      padding: 94px 100px 420px 0;
      font-size: 3em;
      line-height: 1em;
    }

    aside {
      height: 240px;
    }

    aside .content-wrapper {
      display: flex;
      justify-content: space-between;

    }
    
    .form-description h5, .form h5 {
      margin: 0;
      padding: 0 0 20px 0;
      font-size: 1.5em;
      line-height: 1.25em;
    }

    .form-description, .form {
      width: 40%;
      margin-top: 50px;
    }

    input[type=text] {
      font-size: .875em;
      padding: .8125em;
      line-height: 1em;
    }

    input[type=button] {
      line-height: 1em;
      padding: 11px 0;
    }
    
    
    .features {
      height: 860px;
    }
    .features .content-wrapper{
      width: 83.33%;
     
    }
    
    .features h2 {
      margin: 0;
      font-size: 2.25em;
      line-height: 1.33em;
      padding: 88px 0 36px 0px;
    }
    
    .features article {
      width: 27%;
      padding: 0 9% 46px;
      flex-basis: 1;
    }
  
    .features i {
      font-size: 4.5em;
      margin-bottom: 28px;
    }

    .reviews {
      height: 500px;
    }

    .reviews h2 {
      margin: 105px 13.125rem 20px 0;
      font-size: 2.25em;
      line-height: normal;
    }

    .reviews .content-wrapper {
      width: 83.33%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    .retreat-info h5 {
      font-size: 1.5em;
      line-height: 1.25em;
      padding: 0 0 0 6px;
      margin: 0;
    }

    .retreat-info p {
      padding: 0 0 0 6px;
      margin-right: -6px;
    }
     .retreat-info {
      width: 50%;
      
    }

.reviews article {
  width: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 2%;
}

    .reviews figure {
    width: 311px;
    
   }

    
   

    footer .content-wrapper {
      width: 68.23%;
      padding: 86px 0;
      margin: 0;
      
    }

    .footer-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }

    footer address, footer .social {
      width: 38.93%;
      margin: 0;
    }

    footer h5 {
      margin: 0;
      font-size: 1.5em;
      line-height: normal;
      padding-bottom: 40px;
    }

  /******** About ********************************/
  .mission .content-wrapper {
    width: 100%;
  }
  
  .mission-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    align-items: center;
    padding: 0 4.75%;
  }
  
  .mission-content h2 {
    width: 100%;
    font-size: 2.25em;
  }
  
  .mission-content p {
    line-height: 1.29em;
    width: 45%;

  }
  
  .map figure {
    padding-bottom: 45.57%;
  }

  .contact-section .content-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    
  }
  
  .contact-section h2 {
    width: 100%;
    margin: 0 0 55px;
    font-size: 2.25em;
    line-height: 1.33em;
  }
  
  .contact-about {
    width: 45%;
  }

  .contact-about h5 {
    margin: 0 0 23px;
    font-size: 1.5em;
  }

  .contact-about p {
    margin: 0;
  }
  /********* FAQ ********/
  .faq .content-wrapper {
    justify-content: space-between;
}

.faq-content {
    flex-basis: 45%;
}

.faq h2 {
    width: 100%;
    font-size: 2.25em;
    line-height: 1.33em;
}

.faq-content h5 {
  font-size: .875em;
  line-height: 1.29em;
}

}
     
@media only screen and (min-width: 1200px) {
/*Desktop styles here**********************************************************************/
.content-wrapper {
  width: 80%;
    
  }

header .content-wrapper{
  width: 80%;
}
.hero-area h1 {
  font-size: 3.75em;
  line-height: normal;
  padding: 35px 260px 0 0;
}

h2 {
  font-size: 2.25em;
  line-height: normal;
}

h5 {
  font-size: 1.875em;
  line-height: normal;
}

p {
  font-size: 1.125em;
  line-height: 1.33em;
}

header ul li {
  font-size: 1.125em;
  line-height: normal;
}

header figure{
   width: 23.67%;
    
}
 

    
aside {
  height: 260px;
}

aside .content-wrapper {
  width: 67%;
  
  
}

.form-description, .form {
  margin: 0;
  justify-content: flex-start;
  width: 40%;
  
}

.form h5, .form-description h5 {
  padding: 38px 0 14px 0;
  font-size: 1.875em;
  line-height: 1.2em;
}

.form-description p {
  padding: 0 20px 0 0;
}

input[type=text] {
  font-size: 1.125em;
  line-height: 1.2em;
  padding: .695em;
}

input[type=button] {
  font-size: 1.5em;
  line-height: 1.2em;
}

.features {
  height: 810px;
}

.features .content-wrapper {
  width: 80%;
}

.features h2 {
  line-height: normal;
  padding: 98px 0 93px;
}

.features article {
  width: 21%;
  padding: 0 6.16% 58px;
}

.features i {
  margin-bottom: 23px;
}

.reviews {
  height: 630px;
}

.reviews .content-wrapper {
  justify-content: flex-start;
  
}

.reviews .content-wrapper h2 {
  margin: 95px 0px -10px 0;
  padding: 0;
 
}  

.reviews article {
  padding: 0;
  width: 46.7%;
}



.reviews figure {
  width: 460px;
  height: 300px;
  padding-right: 19px;
}

.retreat-info {
  padding: 0 0 0 45px;
  width: 43.75%;
}

.retreat-info h5 {
  font-size: 1.875em;
  line-height: normal;
}



footer .content-wrapper {
  padding: 100px 0;
  width: 70.67%;
}

footer address, footer .social {
  width: 24.17%;
}

footer h5 {
  font-size: 1.875em;
  line-height: normal;
}

/********** About Desktop Styles *********/
.mission {
  height: 444px;
}

.mission .content-wrapper {
  width: 80%;
}

.mission-content {
  margin: 90px 0;
  padding: 0;
}

.mission-content h2 {
  margin: 0 0 20px;
  font-size: 3em;
  line-height: normal;
  
}

.mission-content p {
  font-size: 1.125em;
  line-height: 1.33em;
  margin: 0;

}

.map figure {
  padding-bottom: 37.5%;
}

.contact-section {
  height: 400px;
  align-items: flex-start;
}

.contact-section .content-wrapper {
  margin: 88px 0 0 0;
}

.contact-section h2 {
  font-size: 3em;
  line-height: 1em;
  margin: 0 0 22px;
}

.contact-section h5 {
  font-size: 1.875em;
  line-height: normal;
}

.contact-about p {
  font-size: 1.125em;
  line-height: normal;
}
/********** FAQ Desktop Styles ************/
.faq .content-wrapper {
  margin: 50px 0;
}

.faq h5, .faq p {
  font-size: 1.125em;
  line-height: 1em;
}

.faq h2 {
  font-size: 3em;
  line-height: normal;
}
}


@media print, 
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */

  }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

